APP_API_URL=http://localhost:3000/api/v1
APP_JWT_SECRET=genereted_by_https://bcrypt-generator.com/
APP_PORT=3000
API_KEY=replace-with-a-secure-api-key

SHOPEE_API_ENDPOINT=https://open-api.affiliate.shopee.com.br/graphql
SHOPEE_API_TIMEOUT_MS=5000
SHOPEE_AFFILIATE_SUBIDS=ALINY
SHOPEE_APP_ID=1
SHOPEE_FLAG_CLICK=1
SHOPEE_CURRENCY=BRL
SHOPEE_LOCATION=Brasil

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=root
DATABASE_USER=root
DATABASE_PASSWORD=test


# Note: All Telegram and Shopee configurations are now loaded exclusively from database per bot
# - TELEGRAM_BOT_TOKEN: Loaded from database
# - WEBHOOK_URL: Loaded from database 
# - Shopee credentials: Loaded from database per bot
